clubs-gym==0.1.4
 
 
gymnasium
gymnasium-notices 

matplotlib==3.10.8

networkx

numpy
optuna==4.6.0
optuna-dashboard==0.20.0

pandas 

tensorboard 
tensorboard_data_server 
tensorboardX 
torch
torchaudio
torchvision
tqdm 
